BODY {
	SCROLLBAR-FACE-COLOR: #d69b70; MARGIN: 0px; SCROLLBAR-HIGHLIGHT-COLOR: #d69b70; SCROLLBAR-SHADOW-COLOR: #f6c9a3; SCROLLBAR-3DLIGHT-COLOR: #f6c9a3; SCROLLBAR-ARROW-COLOR: #fef4eb; SCROLLBAR-TRACK-COLOR: #f6c9a3; SCROLLBAR-DARKSHADOW-COLOR: #f6c9a3; SCROLLBAR-BASE-COLOR: #f6c9a3; BACKGROUND-COLOR: #f6c9a3
}
TD {
	FONT-SIZE: 12px; COLOR: #1ea8b4; LINE-HEIGHT: 160%
}
.bottom {
	FONT-SIZE: 12px; COLOR: #b36b2f; LINE-HEIGHT: 160%
}
.font_bold1 {
	FONT-WEIGHT: 700; FONT-SIZE: 12px; COLOR: #ffe6d1; LINE-HEIGHT: 160%
}
.font_bold2 {
	FONT-WEIGHT: 700; FONT-SIZE: 12px; COLOR: #0099a6; LINE-HEIGHT: 160%
}
.font_bold3 {
	FONT-WEIGHT: 700; FONT-SIZE: 13px; COLOR: #9c6a00; LINE-HEIGHT: 160%
}
.font_bold4 {
	FONT-WEIGHT: 700; FONT-SIZE: 12px; COLOR: #ff840b; LINE-HEIGHT: 160%
}
.font_bold5 {
	FONT-WEIGHT: 700; FONT-SIZE: 13px; COLOR: #1ea8b4; LINE-HEIGHT: 300%
}
.font_fine1 {
	FONT-SIZE: 12px; COLOR: #ffe6d1; LINE-HEIGHT: 160%
}
.font_fine2 {
	FONT-SIZE: 12px; COLOR: #9c6a00; LINE-HEIGHT: 160%
}
.font_fine3 {
	FONT-SIZE: 12px; COLOR: #007b9f; LINE-HEIGHT: 160%
}
.font_news {
	FONT-SIZE: 12px; COLOR: #707070
}
.font_news_time {
	FONT-SIZE: 9px; COLOR: #707070; FONT-FAMILY: verdana
}
.span4 {
	MARGIN-TOP: 4px; MARGIN-BOTTOM: 4px
}
.span5 {
	MARGIN-TOP: 5px; MARGIN-BOTTOM: 5px
}
.span5_1 {
	MARGIN-TOP: 5px
}
.span7 {
	MARGIN-TOP: 7px
}
.span9 {
	MARGIN-TOP: 9px
}
.span10 {
	MARGIN-TOP: 10px
}
.span14 {
	MARGIN-TOP: 20px; MARGIN-BOTTOM: 14px
}
.span15 {
	MARGIN-TOP: 15px
}
.span20 {
	MARGIN-TOP: 20px; MARGIN-BOTTOM: 20px
}
.span35 {
	MARGIN-TOP: 35px
}
.font_index_left01 {
	FONT-WEIGHT: 700; FONT-SIZE: 12px; COLOR: #ff903e; LINE-HEIGHT: 160%
}
.font_index_left02 {
	FONT-WEIGHT: 700; FONT-SIZE: 12px; COLOR: #ffb400; LINE-HEIGHT: 160%
}
.font_index_center01 {
	FONT-WEIGHT: 700; FONT-SIZE: 12px; COLOR: #ffffff; LINE-HEIGHT: 160%
}
.font_index_right01 {
	FONT-WEIGHT: 700; FONT-SIZE: 12px; COLOR: #ff7e00; LINE-HEIGHT: 160%
}
.font_index_right02 {
	FONT-WEIGHT: 700; FONT-SIZE: 12px; COLOR: #72a733; LINE-HEIGHT: 160%
}
A {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A:hover {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
