BODY {
	SCROLLBAR-FACE-COLOR: #d69b70; MARGIN: 0px; SCROLLBAR-HIGHLIGHT-COLOR: #d69b70; SCROLLBAR-SHADOW-COLOR: #f6c9a3; SCROLLBAR-3DLIGHT-COLOR: #f6c9a3; SCROLLBAR-ARROW-COLOR: #fef4eb; SCROLLBAR-TRACK-COLOR: #f6c9a3; SCROLLBAR-DARKSHADOW-COLOR: #f6c9a3; SCROLLBAR-BASE-COLOR: #f6c9a3; BACKGROUND-COLOR: #f6c9a3
}
TD {
	FONT-SIZE: 12px; COLOR: #1ea8b4; LINE-HEIGHT: 160%
}
A {
	COLOR: #0000ff; TEXT-DECORATION: none
}
A:hover {
	COLOR: #0000ff; TEXT-DECORATION: underline
}
