<!--{if !empty($_G['my_menu']) && !empty($_G['cache']['userapp'])}-->
<hr class="da">
<!--{/if}-->

<!--{if !empty($_G['my_menu'])}-->
<ul id="my_userapp">
	<!--{hook/userapp_menu_top}-->
	<!--{loop $_G['my_menu'] $value}-->
	<li id="userapp_li_$value[appid]"><!--{if $value[appstatus]}--><span class="{if $value[appstatus]==1}appnew{else}apphot{/if}"></span><!--{/if}--><a href="userapp.php?mod=app&id=$value[appid]" title="$value[appname]"><img {if $value[icon]}src="$value[icon]" onerror="this.onerror=null;this.src='http://appicon.manyou.com/icons/$value[appid]'"{else} src="http://appicon.manyou.com/icons/$value[appid]"{/if} alt="$value[appname]" />$value[appname]</a></li>
	<!--{/loop}-->
	<!--{hook/userapp_menu_middle}-->
</ul>
<!--{/if}-->
<!--{if $_G['my_menu_more']}-->
	<p class="pbm bbda xg1 cl"><a href="javascript:;" class="unfold" id="a_app_more" onclick="userapp_open();">{lang open}</a></p>
<!--{/if}-->
<!--{if checkperm('allowmyop')}-->
	<ul class="myo mtm">
		<li><a href="userapp.php?mod=manage&my_suffix=%2Fapp%2Flist%3Fsort%3Dtime"><img src="{IMGDIR}/app_add.gif" alt="app_add" />{lang app_add}</a></li>
		<!--{if $_G['uid'] || !empty($_G['cache']['userapp'])}-->
		<li><a href="userapp.php?mod=manage&ac=menu"><img src="{IMGDIR}/app_set.gif" alt="app_set" />{lang app_management}</a></li>
		<!--{/if}-->
	</ul>
<!--{/if}-->
<!--{hook/userapp_menu_bottom}-->